<!DOCTYPE html>
<html>
  <head>
    <title>Your Library Tests</title>
    <link rel="stylesheet" href="http://code.jquery.com/qunit/git/qunit.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/test.css" type="text/css" media="screen" />
    <script type="text/javascript" data-main="/assets/run-suite.js" src="/assets/require.js"></script>
  </head>
  <body>
    <h1 id="qunit-header">Your Library Tests</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture">
    </div>
  </body>
</html>
